.display-button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    font-size: 30px;
    vertical-align: middle;
    text-align: center;
    overflow: visible;
    background: transparent;
    text-decoration: none;
}

.display-button:hover {
    color: #7D7461;
}

.episode-title {
    border-bottom: 1px solid rgba(128, 128, 128, 0.514);
    text-transform: uppercase;
    justify-content: center;
    align-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 20px;
    flex-wrap: wrap;
}