/* HEADER STYLING */
header {
    border-bottom: 2px solid #635c5198;
    justify-content: space-around;
    background-color:#39304A;
    padding: 10px;
    display: flex;
    height: 4vh;
}

.header {
    display: flex;
    align-items: center;
}

