/* HEADER STYLING */
header {
    height: 4vh;
    display: flex;
    background-color:#39304A;
    justify-content: space-around;
    border-bottom: 2px solid #635c5198;
}

.header {
    display: flex;
    align-items: center;
}

